.fundo_cadastro{
    background-color: blue;
    width: 99vw;
    height: 101vh;
}

.select_cadastro{
    background-color: transparent;
    color: black;
    width: 23vw;
    height: 4vh;
    font-size: 20px;
}